.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 304px;
  background-color: rgb(33, 33, 33);
  scrollbar-color: rgb(96, 96, 96) transparent;
}

mat-toolbar {
  min-height: 64px;
  max-height: 64px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-toolbar {
  background-color: rgb(33, 33, 33) !important;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.sidenav-icon {
  margin-left: 7px;
}

.sidenav-header {
  margin-left: 22px;
}

.sidenav-divider {
  margin-top: 7px;
  margin-bottom: 7px;
}

.sidenav-list-text {
  margin-left: 30px;
  font-size: 1.05rem;
  font-weight: 420;
  line-height: 1.8rem;
}

.sidenav-list-text-icon {
  margin-left: 15px;
}

.sidenav-list-header {
  font-size: 1.05rem;
  color: silver;
  margin-left: 30px;
}

.sidenav-bottom {
  margin-left: 20px;
  padding-bottom: 20px;
}

#start {
  margin-right: 30px;
}

.full-width {
  width: 100%;
  font-size: 19px;
  margin-top: 7px;
}

#search-btn {
  display: block;
  height: 40px;
  margin: auto;
}

#voice-btn {
  display: block;
  margin: auto;
  margin-left: 15px;
}

#center {
  display: flex;
  margin: auto;
  width: 800px;
  height: 100%;
}

#end {
  display: flex;
}

.end-icon {
  margin-left: 15px;
}

#back-icon {
  margin: auto;
  margin-right: 10px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding-top: 0px !important;
  padding-bottom: 7px !important;
}

.example-container {
  height: calc(100vh - 64px);
}

.quick-nav {
  height: 100%;
  width: fit-content;
  background-color: rgb(33, 33, 33);
}

.multi-line-list {
  width: 80px;
}

.quick-nav-icon,
.quick-nav-text {
  color: grey;
  display: block;
  margin: auto;
  height: fit-content;
  width: fit-content;
}

.active-quick-nav {
  color: white;
}

.quick-nav-link {
  background-color: rgb(33, 33, 33);
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.quick-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

a:active {
  text-decoration: none;
}

.quick-nav-icon {
  margin-bottom: 4px;
}

.quick-nav-text {
  font-size: 10px;
  font-weight: 400;
}
